.product-list
  &__header
    display: flex
    justify-content: space-between
    // align-items: center
    width: 100%
    margin-bottom: 0.5rem

  &__table
    padding: 1rem
    background: #fff
    border-radius: 0.5rem

    table
      width: 100%
      thead
        background: #f9fafc
        th
          text-align: left
          padding: 1rem 0.5rem
          font-weight: 900
          font-size: 0.9rem
          color: #333

          &:first-child,
          &:last-child
            text-align: center
      tbody
        td
          padding: 1rem 0.5rem
          border-top: 1px solid #dbdbdb

          &:first-child,
          &:last-child
            text-align: center
